.MMM-PlexSlideshowPlus .images,
.MMM-PlexSlideshowPlus .image,
.MMM-PlexSlideshowPlus .transition,
.MMM-PlexSlideshowPlus .gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.MMM-PlexSlideshowPlus .image {
  background-position: center;
  background-repeat: no-repeat;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.MMM-BackgroundSlideshow .transition {
  animation-timing-function: ease-out;
}
